**/core
!core/

**/*~
**/*.pyc
**/.*.swp
**/.*.swo
**/*.o

jsonnet
_jsonnet.so
libjsonnet.so
libjsonnet.js
libjsonnet_test_file
libjsonnet_test_snippet
**/core.*
**/vgcore
**/vgcore.*
core/std.jsonnet.h
Makefile.depend
Makefile.depend.bak
bazel-*

**/*.tfstate
**/*.tfstate.backup

build/
dist/
jsonnet.egg-info/

# Autotools generated stuff
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing

# Intermediate build artifacts
*.la
*.lo
*.o
*.pc
.deps/
.dirstamp
.libs/
Makefile
confdefs.h
config.log
config.lt
config.status
libtool
